#!/bin/sh
STAGED_GO_FILES=$(git diff --cached --name-only | grep ".go$")

if [[ "$STAGED_GO_FILES" = "" ]]; then
  exit 0
fi

make clean

printf "go lint\n"
for FILE in $STAGED_GO_FILES
do
  goimports -w $FILE
  # comment|dot imports|ALL_CAPS
  lintoutput=$(golint "${FILE}" | grep -vE 'comment')
  
  if [ -n "$lintoutput" ]; then
    echo "$lintoutput"
    exit 1
  fi
done

printf "go vet\n"
go vet ./...
if [[ $? != 0 ]]; then
  printf "COMMIT FAILED\n"
  exit 1
fi

printf "COMMIT SUCCEEDED\n"
exit 0
